<h1>Booking Requests</h1>

<% if @bookings.any? %>
  <% @bookings.each do |booking| %>
  <div data-controller="toggle_controller" data-booking-url="<%= booking_path(toggle_controller) %>">
    <p>Place: <%= booking.place.name %></p>
    <p>User: <%= booking.user.email %></p>
    <p>Check-in: <%= booking.checkin %></p>
    <p>Check-out: <%= booking.checkout %></p>

      <div data-booking-target="status">
        <button data-action="click->booking#update" class="btn btn-primary">
          Confirm Booking
        </button>
      </div>
  </div>
  <% end %>
<% end %>

<!-- app/views/bookings/requests.html.erb -->
