<h1>Booking Requests</h1>

<div class="flexbox">
  <% if @bookings.any? %>
    <% @bookings.each do |booking| %>
      <div>
        <div class="card-trip">
         <%= cl_image_tag(booking.place.photo.key, crop: :fill) %>
         <div class="card-trip-infos">
            <div>
             <h2><%= booking.place.name %></h2>
             <p>Check-in: <%= booking.checkin %></p>
             <p>Check-out: <%= booking.checkout %></p>
            </div>
            <h2 class="card-trip-pricing">$<%= booking.place.price %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No bookings found.</p>
  <% end %>
</div >

<%= link_to 'Book another place', places_path %>
