<h1>Booking Requests</h1>

<% if @bookings.any? %>
  <% @bookings.each do |booking| %>
    <div>
      <p>Place: <%= booking.place.name %></p>
      <p>User: <%= booking.user.email %></p>
      <p>Check-in: <%= booking.checkin %></p>
      <p>Check-out: <%= booking.checkout %></p>

      <%= form_for booking, url: booking_path(booking), method: :patch do |f| %>
        <%= f.hidden_field :status, value: true %>
        <%= f.submit "Confirm Booking", class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>No pending booking requests.</p>
<% end %>
