<h1>All places</h1>

<% if @places.any? %>
  <% @places.each do |place| %>
    <p>Name: <%= place.name %></p>
    <p>Location: <%= place.location %></p>
    <p>Description: <%= place.description %></p>
    <p>Price: <%= place.price %></p>
    <p>Rating: <%= place.rating %></p>
    <%= link_to "View place", place_path(place) %>
  <% end %>
<% else %>
  <p>Sorry, no places found!</p>
<% end %>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
