<div class='d-flex justify-content-between'>
<div>
  <h1>My Places</h1>
</div>
<div>
  <%= link_to 'Add new place', new_place_path, class: 'btn btn-primary rounded' %>
</div>
</div>


<div class="flexbox">
  <% if @my_places.any? %>
    <% @my_places.each do |place| %>
      <div>
        <div class="card-trip">
         <%= cl_image_tag(place.photo.key, crop: :fill) %>
         <div class="card-trip-infos">
            <div>
             <h2><%= place.name %></h2>
             <p>Description: <%= place.description %></p>
             <p class='mb-3'>Location: <%= place.location %></p>
            <%= link_to "Edit place", edit_place_path(place), class: 'btn btn-sm btn-outline-warning rounded' %>
            <%= link_to "Remove place", place_path(place), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-sm btn-outline-danger rounded' %>
            </div>
            <h2 class="card-trip-pricing">$<%= place.price %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No places found.</p>
  <% end %>
</div >

<div class="text-center mt-4">
  <%= link_to 'All places', places_path, class: 'btn btn-outline-primary rounded' %>
</div>
