<h1><%= @place.name %></h1>

<p>Location: <%= @place.location %></p>
<p>Description: <%= @place.description %></p>
<p>Price: <%= @place.price %></p>
<p>Host: <%= @place.user.email %></p>
<p>Rating: <%= @place.rating %></p>

<%= link_to 'Back', places_path %>
