<div class="flex-grow">
  <div id='flex1'>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @place.photo.key, height: 300, crop: :fill %>')">
      <div class="container">
        <h1 class="text-center"><%= @place.name %></h1>
      </div>
    </div>

    <div class='d-flex my-3 justify-content-between'>
      <div>
        <div class='d-flex align-items-baseline'>
          <%= link_to "Book place", new_place_booking_path(@place), class: 'btn btn-primary' %>
          <p class='ms-3 h5 fw-semibold'>$<%= @place.price %> / per night</p>
        </div>
      </div>
      <div>
        <p class='h4 mb-3'><%= '✰' * (@place.rating || 0) %></p>
      </div>
    </div>

      <p class='h5 fw-semibold'>Location: <%= @place.location %></p>
      <p class='fw-semibold'>Host: <%= @place.user.name %></p>
      <p>Description: <%= @place.description %></p>

      <%= link_to 'Back to places', places_path, class: 'btn btn-sm btn-outline-primary rounded' %>
  </div>

  <div style="width: 40%; height: 700px;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
